In [30]:
import pandas as pd
import sqlalchemy as sa
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,roc_auc_score,confusion_matrix,classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler

import warnings
warnings.filterwarnings("ignore")

In [2]:
engine=sa.create_engine("mysql+pymysql://root:Payal123@localhost:3307/db_loan")
engine

Engine(mysql+pymysql://root:***@localhost:3307/db_loan)

In [3]:
df=pd.read_sql_table('train',engine)
df.head(2)

,MyUnknownColumn,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,0.0,360.0,1.0,Urban,Y
1,1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N

In [4]:
df.shape

(614, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MyUnknownColumn    614 non-null    int64
 1   Loan_ID            614 non-null    object
 2   Gender             614 non-null    object
 3   Married            614 non-null    object
 4   Dependents         614 non-null    float64
 5   Education          614 non-null    object
 6   Self_Employed      614 non-null    object
 7   ApplicantIncome    614 non-null    int64
 8   CoapplicantIncome  614 non-null    float64
 9   LoanAmount         614 non-null    float64
 10  Loan_Amount_Term   614 non-null    float64
 11  Credit_History     614 non-null    float64
 12  Property_Area      614 non-null    object
 13  Loan_Status        614 non-null    object
dtypes: float64(5), int64(2), object(7)
memory usage: 67.3+ KB

# EDA

In [6]:
df.isna().sum()

MyUnknownColumn      0
Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [7]:
df.select_dtypes("object")

,Loan_ID,Gender,Married,Education,Self_Employed,Property_Area,Loan_Status
0,LP001002,Male,No,Graduate,No,Urban,Y
1,LP001003,Male,Yes,Graduate,No,Rural,N
2,LP001005,Male,Yes,Graduate,Yes,Urban,Y
3,LP001006,Male,Yes,Not Graduate,No,Urban,Y
4,LP001008,Male,No,Graduate,No,Urban,Y
...,...,...,...,...,...,...,...
609,LP002978,Female,No,Graduate,No,Rural,Y
610,LP002979,Male,Yes,Graduate,No,Rural,Y
611,LP002983,Male,Yes,Graduate,No,Urban,Y
612,LP002984,Male,Yes,Graduate,No,Urban,Y
613,LP002990,Female,No,Graduate,Yes,Semiurban,N

In [8]:
df["Loan_ID"] = df["Loan_ID"].str[2:]

In [9]:
df["Loan_ID"] = df["Loan_ID"].astype(int)

In [10]:
df["Gender"].value_counts().to_dict()

{'Male': 489, 'Female': 112, '0': 13}

In [11]:
df["Gender"] = df["Gender"].replace({'Male': 1, 'Female': 2, '0': 0})

In [12]:
df["Married"].value_counts().to_dict()

{'Yes': 398, 'No': 213, '0': 3}

In [13]:
df["Married"] = df["Married"].replace({'Yes': 1, 'No': 0, '0': 2})

In [14]:
df["Education"].value_counts().to_dict()

{'Graduate': 480, 'Not Graduate': 134}

In [15]:
df["Education"] = df["Education"].replace({'Graduate': 1, 'Not Graduate': 0})

In [16]:
df["Self_Employed"].value_counts().to_dict()

{'No': 500, 'Yes': 82, '0': 32}

In [17]:
df["Self_Employed"] = df["Self_Employed"].replace({'No': 0, 'Yes': 1, '0': 2})

In [18]:
df["Property_Area"].value_counts().to_dict()

{'Semiurban': 233, 'Urban': 202, 'Rural': 179}

In [19]:
df["Property_Area"] = df["Property_Area"].replace({'Semiurban': 2, 'Urban': 1, 'Rural': 0})

In [20]:
df.Loan_Status.value_counts().to_dict()

{'Y': 422, 'N': 192}

## train_test

In [24]:
x = df.drop(["Loan_Status"],axis=1)
y = df["Loan_Status"]

In [25]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
lg_model = LogisticRegression()
lg_model.fit(x_train,y_train)

LogisticRegression()

### testing

In [27]:
y_pred = lg_model.predict(x_test)
acc_score = accuracy_score(y_test,y_pred)
print("Accuracy Score: ",acc_score)

con_matrix = confusion_matrix(y_test,y_pred)
print("Confusion_Matrix:\n "  ,con_matrix)

clf_report = classification_report(y_test,y_pred)
print("Classification_report: \n" , clf_report )

Accuracy Score:  0.7235772357723578
Confusion_Matrix:
  [[14 29]
 [ 5 75]]
Classification_report:
               precision    recall  f1-score   support

           N       0.74      0.33      0.45        43
           Y       0.72      0.94      0.82        80

    accuracy                           0.72       123
   macro avg       0.73      0.63      0.63       123
weighted avg       0.73      0.72      0.69       123

### training

In [28]:
y_pred_train = lg_model.predict(x_train)

In [29]:
acc_score = accuracy_score(y_train,y_pred_train)
print("Accuracy Score: ",acc_score)

con_matrix = confusion_matrix(y_train,y_pred_train)
print("Confusion_Matrix:\n "  ,con_matrix)

clf_report = classification_report(y_train,y_pred_train)
print("Classification_report: \n" , clf_report )

Accuracy Score:  0.7372708757637475
Confusion_Matrix:
  [[ 45 104]
 [ 25 317]]
Classification_report:
               precision    recall  f1-score   support

           N       0.64      0.30      0.41       149
           Y       0.75      0.93      0.83       342

    accuracy                           0.74       491
   macro avg       0.70      0.61      0.62       491
weighted avg       0.72      0.74      0.70       491

## standartization

In [33]:
std_scal = StandardScaler()
std_scal.fit(x_train)

StandardScaler()

In [38]:
array = std_scal.transform(x_test)
std_test = pd.DataFrame(array, columns= x_test.columns)
std_test.head(2)

,MyUnknownColumn,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0.226263,0.227447,-0.381863,0.747556,-0.723275,0.534173,-0.444922,0.604085,-0.528127,0.933247,0.32982,0.537321,1.10074
1,0.379372,0.376446,-0.381863,0.747556,-0.723275,0.534173,-0.444922,-0.201226,-0.528127,-0.153933,0.32982,-1.861085,1.10074

In [40]:
y_pred_test = lg_model.predict(std_test)

In [41]:
acc_score = accuracy_score(y_test,y_pred_test)
print("Accuracy Score: ",acc_score)

con_matrix = confusion_matrix(y_test,y_pred_test)
print("Confusion_Matrix:\n "  ,con_matrix)

clf_report = classification_report(y_test,y_pred_test)
print("Classification_report: \n" , clf_report )

Accuracy Score:  0.6422764227642277
Confusion_Matrix:
  [[30 13]
 [31 49]]
Classification_report:
               precision    recall  f1-score   support

           N       0.49      0.70      0.58        43
           Y       0.79      0.61      0.69        80

    accuracy                           0.64       123
   macro avg       0.64      0.66      0.63       123
weighted avg       0.69      0.64      0.65       123

In [42]:
array = std_scal.transform(x_train)
std_train_df = pd.DataFrame(array, columns= x_train.columns)
std_train_df.head(5)

,MyUnknownColumn,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,-1.287819,-1.308663,-0.381863,0.747556,-0.723275,0.534173,-0.444922,0.083915,0.180667,1.343713,0.32982,-1.861085,1.10074
1,-1.248124,-1.232390,-0.381863,0.747556,-0.723275,0.534173,-0.444922,-0.429338,0.385430,-0.142840,0.32982,0.537321,1.10074
2,-0.471236,-0.448370,-0.381863,0.747556,1.260681,0.534173,-0.444922,0.126095,0.005831,0.733561,0.32982,0.537321,1.10074
3,0.974798,0.933419,-0.381863,0.747556,-0.723275,0.534173,-0.444922,-0.576970,0.464185,-0.176121,0.32982,0.537321,1.10074
4,0.872725,0.855372,-0.381863,-1.314523,-0.723275,0.534173,-0.444922,-0.225522,-0.528127,-0.508931,0.32982,-1.861085,1.10074

In [43]:
y_pred_train = lg_model.predict(std_train_df)

In [45]:
acc_score = accuracy_score(y_train,y_pred_train)
print("Accuracy Score: ",acc_score)

con_matrix = confusion_matrix(y_train,y_pred_train)
print("Confusion_Matrix:\n "  ,con_matrix)

clf_report = classification_report(y_train,y_pred_train)
print("Classification_report: \n" , clf_report )

Accuracy Score:  0.6945010183299389
Confusion_Matrix:
  [[113  36]
 [114 228]]
Classification_report:
               precision    recall  f1-score   support

           N       0.50      0.76      0.60       149
           Y       0.86      0.67      0.75       342

    accuracy                           0.69       491
   macro avg       0.68      0.71      0.68       491
weighted avg       0.75      0.69      0.71       491

## HANDLING IMBANLANCE DATA

In [22]:
from imblearn.over_sampling import SMOTE

In [49]:
smt = SMOTE(random_state=None , k_neighbors=5)
x_sampled,y_sampled = smt.fit_resample(x,y)
y_sampled.value_counts()

Y    422
N    422
Name: Loan_Status, dtype: int64

In [50]:
lg_model = LogisticRegression()
lg_model.fit(x_sampled,y_sampled)

LogisticRegression()

In [51]:
y_pred = lg_model.predict(x_test)
acc_score = accuracy_score(y_test,y_pred)
print("Accuracy Score: ",acc_score)

con_matrix = confusion_matrix(y_test,y_pred)
print("Confusion_Matrix:\n "  ,con_matrix)

clf_report = classification_report(y_test,y_pred)
print("Classification_report: \n" , clf_report )

Accuracy Score:  0.6178861788617886
Confusion_Matrix:
  [[24 19]
 [28 52]]
Classification_report:
               precision    recall  f1-score   support

           N       0.46      0.56      0.51        43
           Y       0.73      0.65      0.69        80

    accuracy                           0.62       123
   macro avg       0.60      0.60      0.60       123
weighted avg       0.64      0.62      0.62       123

In [53]:
y_pred_train = lg_model.predict(x_train)
acc_score = accuracy_score(y_train,y_pred_train)
print("Accuracy Score: ",acc_score)

con_matrix = confusion_matrix(y_train,y_pred_train)
print("Confusion_Matrix:\n "  ,con_matrix)

clf_report = classification_report(y_train,y_pred_train)
print("Classification_report: \n" , clf_report )

Accuracy Score:  0.6476578411405295
Confusion_Matrix:
  [[ 84  65]
 [108 234]]
Classification_report:
               precision    recall  f1-score   support

           N       0.44      0.56      0.49       149
           Y       0.78      0.68      0.73       342

    accuracy                           0.65       491
   macro avg       0.61      0.62      0.61       491
weighted avg       0.68      0.65      0.66       491